{
  "root": true,
  "extends": ["prettier", "plugin:prettier/recommended", "eslint:recommended", "plugin:react/recommended"],
  "plugins": ["prettier", "react", "react-hooks"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "JSX": true
  }
}
